.ImageUpload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  border: 1px solid;
  height: 520px;
}
.ImageUpload .Buttons-page-ctnr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
}

.ImageUpload .Buttons-button input[type=file] {
  visibility: hidden;
  position: absolute
}

.ImageUpload .Images-page-ctnr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.ImageUpload .Images-photo-ctnr {
  position: relative;
}

.ImageUpload .Images-delete {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ImageUpload .Images-delete svg {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}

.ImageUpload .Images-photo {
  max-height: 420px;
  max-width: 420px;
  padding: 10px;
  border: 1px dashed #999;
}

.ImageUpload .Images-edit-btn {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ImageUpload .Images-edit-btn input[type=file] {
  visibility: hidden;
  position: absolute
}

.ImageUpload .Buttons-button svg, .ImageUpload .Images-delete svg, .ImageUpload .Images-edit-btn svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  opacity: 0.75;
}

.ImageUpload .Buttons-button svg:hover, .ImageUpload .Images-delete svg:hover, .ImageUpload .Images-edit-btn svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  cursor: pointer;
  opacity: 1;
}

/* Fadein animation  */
.ImageUpload .Buttons-fadein {
  animation: fadein 2s;
}
.ImageUpload .Images-fadein {
  animation: fadein 2s;
}
.ImageUpload .Spinner-fadein {
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Other animations */
.ImageUpload .Spinner-spinner svg {
  border-radius: 50%;
}
.ImageUpload .left .Spinner-spinner {
  animation: spinCW 1.2s infinite linear;
}
.ImageUpload .right .Spinner-spinner {
  animation: spinCCW 1.2s infinite linear;
}
@keyframes spinCW {
  0%  {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@keyframes spinCCW {
  0%  {
    -webkit-transform: rotate(360deg)
  }
  100% {
    -webkit-transform: rotate(0deg)
  }
}

.ImageUpload .Spinner-rolling.left {
  position: absolute;
  animation: moveRight 6s ease-out;
  filter: drop-shadow(4px 4px 4px #999);
}
.ImageUpload .Spinner-rolling.right {
  position: absolute;
  animation: moveLeft 6s ease-out;
  filter: drop-shadow(4px 4px 4px #999);
}
@keyframes moveLeft {
  0%  {
    right: -5%;
  }
  100% {
    right: 105%;
  }
}
@keyframes moveRight {
  0%  {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}
