.ImageUpload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  border: 1px solid;
  height: 420px;
}
.ImageUpload .Buttons-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
}

.ImageUpload .Buttons-button {
  margin: 0 10vw
}

.ImageUpload .Images-delete {
  position: absolute;
  top: 15px;
  right: 15px;
}

.ImageUpload .Images-edit-btn {
  display: flex;
  height: 120px;
  width: 120px;
  justify-content: left;
  align-items: center;
  bottom: 120px;
  position: relative;
}

.ImageUpload .Buttons-button svg, .ImageUpload .Images-delete svg, .ImageUpload .Images-edit-btn svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}
.ImageUpload .Images-edit-btn svg:last-of-type {
  position: absolute;
  opacity: 0.75;
  left: 30px;
}
.ImageUpload .Images-edit-btn svg:first-of-type {
  position: absolute;
  opacity: 0.75;
  left: 15px;

}

.ImageUpload .Buttons-button svg:hover, .ImageUpload .Images-delete svg:hover, .ImageUpload .Images-edit-btn svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer
}
.ImageUpload .Images-edit-btn svg:hover {
  opacity: 1;
}

.ImageUpload .Images-delete svg {
  filter: drop-shadow(1px 1px 1px #999);
  opacity: 0.75;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.ImageUpload .Images-delete svg:hover {
  filter: drop-shadow(1.5px 1.5px 1.5px);
  opacity: 1;
}

.ImageUpload .Buttons-button input[type=file] {
  visibility: hidden;
  position: absolute
}
.ImageUpload .Images-edit-btn input[type=file] {
  visibility: hidden;
  position: absolute
}

.ImageUpload .Images-fadein img {
  max-height: 420px;
  max-width: 420px;
  padding: 10px;
  border: 1px dashed #999;
}

/* Animations */
.ImageUpload .Buttons-fadein {
  animation: fadein 2s;
}
.ImageUpload .Images-fadein {
  animation: fadein 2s;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ImageUpload .Spinner-fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ImageUpload .left .Spinner-spinner {
  animation: spinCW 1.2s infinite linear;
}

.ImageUpload .right .Spinner-spinner {
  animation: spinCCW 1.2s infinite linear;
}

.ImageUpload .Spinner-spinner svg {
  border-radius: 50%
}

@keyframes spinCW {
  0%  {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes spinCCW {
  0%  {
    -webkit-transform: rotate(360deg)
  }
  100% {
    -webkit-transform: rotate(0deg)
  }
}

.ImageUpload .Spinner-rolling.left {
  position: absolute;
  animation: moveRight 6s ease-out;
  filter: drop-shadow(4px 4px 4px #999);
}

@keyframes moveRight {
  0%  {
    left: -5%;
  }
  100% {
    left: 105%;
  }
}

.ImageUpload .Spinner-rolling.right {
  position: absolute;
  animation: moveLeft 6s ease-out;
  filter: drop-shadow(4px 4px 4px #999);
}

@keyframes moveLeft {
  0%  {
    right: -5%;
  }
  100% {
    right: 105%;
  }
}

