.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.LoginPage .login-header {
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 3vh 0;
  background-color: rgba(10, 10, 10, 1);
  color: skyblue;
}

.LoginPage .login-form {
  background-color: rgba(10, 10, 10, 1);
  padding: 3vh 0 0;
}

.LoginPage .input-ctnr-div {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
}

.LoginPage .input-label {
  display: flex;
  align-items: fill;
  text-align: right;
  margin: 0;
  color: skyblue;
  font-weight: bold;
}

.LoginPage input[type="text"], .LoginPage input[type="password"] {
  background-color: rgba(10, 10, 10, 1);
  border: none;
  color: skyblue;
  width: 50vw;
}

.LoginPage input[type="text"]::placeholder, .LoginPage input[type="password"]::placeholder {
  color: darkgray;
}

.LoginPage .login-btn-row {
  padding: 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPage .login-btn {
  background-color: skyblue;
  opacity: 0.85;
  color: rgba(0, 0, 0, .75);
  font-weight: bold;
  margin: 0 15px 0 0;
}

.LoginPage .login-btn:hover {
  opacity: 1;
  color: rgba(10, 10, 10, 1);
}

.LoginPage .cancel-btn {
  color: skyblue;
  margin: 0 0 0 15px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.LoginPage .cancel-btn:hover {
  border: 1px solid skyblue;
}
