.ProfilePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .profile-header {
    margin: 0 0 3vh;
  }

  .data-ctnr {
    display: flex;
    justify-content: center;
  }

  .data-left {
    width: 50vw;
    text-align: right;
    margin: 0 2vw 1vw 0;
  }

  .data-right {
    width: 50vw;
    text-align: left;
    margin: 0 0 1vw 2vw;
    color: skyblue;
  }

  .edit-btn {
    margin: 5vh 0;
    background-color: rgba(135, 206, 235, 0.75);
    color: dimgray;
    cursor: pointer;
    display: none;

    &:hover {
      background-color: rgba(135, 206, 235, 1);
      color: black;
    }
  }
}

