.SingleProtestPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.protest-info {
  display: flex;
  border: 1px solid;
}

.story-ctnr {
  border: 1px solid;
}
