.SingleProtestPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.SingleProtestPage .protest-info {
  display: flex;
  border: 1px solid;
}

.SingleProtestPage .story-ctnr {
  border: 1px solid;
}

.SingleProtestPage img {
  max-height: 420px;
  max-width: 420px;
  padding: 10px;
  border: 1px dashed #999;
}
