.StoryCreatePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.StoryCreatePage .mood-dropdown {
  display: flex;
  align-items: center;
}

.StoryCreatePage .mood-ctnr {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-evenly;
}

.StoryCreatePage .mood-whyI {
  min-width: 70px;
  padding: 20px 0 0;
}

.StoryCreatePage .entry-ctnr {
  display: flex;
  position: relative;
}

.StoryCreatePage .beg-quote {
  align-self: flex-start;
}

.StoryCreatePage .end-quote {
  align-self: flex-end;
}

.StoryCreatePage .story-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StoryCreatePage .add-story-btn {
  color: lightgray;
}
