* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Open Sans", "Lato", "Fira Sans", sans-serif;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "Staatliches", "Monoton", "Julius Sans One", "Cantarell", "Lato", "Open Sans", "Roboto", "Oxygen", "Fira Sans", sans-serif;
}
